<nav>
    <%- include("../composants/tag/tag.html", {text:"portrait"}) %>
    <%- include("../composants/tag/tag.html", {text:"Art"}) %>
        <%- include("../composants/tag/tag.html", {text:"Fashion"}) %>
            <%- include("../composants/tag/tag.html", {text:"Architecture"}) %>
                <%- include("../composants/tag/tag.html", {text:"Travel"}) %>
                    <%- include("../composants/tag/tag.html", {text:"Sport"}) %>
                        <%- include("../composants/tag/tag.html", {text:"Animals"}) %>
                            <%- include("../composants/tag/tag.html", {text:"Events"}) %>
</nav>